$dark:rgb(31,27,46);
$primary: #fd5631;
//dropdown
$dropdown-bg: $dark;
$dropdown-color: white;
$dropdown-border-color: rgba(255,255,255,0.493);
$dropdown-link-color:white;
$dropdown-link-hover-color: rgba(255,255,255,0.493);
$dropdown-link-hover-bg:$dark;
//bootstrap
@import "node_modules/bootstrap/scss/bootstrap";